.p3 {
  font-fal: "Tmes Rod", to1;


.p2 {
  font-family: ral, ia, sasif;
}

.p3 {
  font-family: "Lucidaa Conle", "Crr N", monspa
    e;
}
body {
  background-color: black;
  font-family: Verdna, sans-serif;
  font-size: 5656596px;
  color: gray;
}

h1 {
  font-family: Georgia, serif;
  font-size: 6px;
  color: white;
  size: 20px;
}

.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
